<div class="mb-3">
    <label for="filterText" class="form-label">Todo Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz...">
</div>

<div *ngIf="filterText.length>2" class="alert alert-primary">
    {{filterText}} aradınız
</div>

<table class="table table-success">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Todo Id</th>
            <th>Title</th>
            <th>Deneme pipe</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor = "let todo of todos | filterPipe:filterText">
        <td>{{todo.userId}}</td>
        <td>{{todo.id}}</td>
        <td>{{todo.title}}</td>
        <td>{{todo.id |vatAdded:10 |currency}}</td>
        <td>{{todo.completed}}</td>
        <td><button (click)="addToCart(todo)" class="btn btn-success">Ekle</button></td>
    </tr>
</table>
